

h1{
    font-family: Impact, sans-serif;
    font-size: 1800%;
    color: white;

}

h2{
    font-family: Impact, sans-serif;
    font-size: 200%;
    color: white;

}

h4{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 200%;
    margin-bottom: 50px;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    color: white;
}

body{
    overflow-x: auto;
    width: 100%;
}

