
@font-face {
    font-family: StoryScript;
    src: url(/styles/fonts/StoryScript-Regular.ttf);
}

@font-face {
    font-family: Limelight;
    src: url(/styles/fonts/Limelight-Regular.ttf);
}

h1{
    font-family: Impact, sans-serif;
    color: white;

}

h2{
    font-family: Impact, sans-serif;
    color: white;
}

h3{
    font-family: Impact, sans-serif;
    color: white;
}

h4{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

h5{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

h6{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}


p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    color: white;
}

strong{
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    color: white;
}

body{
    width: 100%;
    background-color: black;
}

